@import '~antd/dist/antd.css';

.site-layout-background {
  background: #fff;
  padding: 24px;
  min-height: 360px;
}

[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {
  margin-top: 10px;
  padding-right: 25px;
  margin-left: 15px;
}

.home-content{
  /* margin: 30px; */
  padding: 30px;
  height: 100%;
  background-color: #fff;
}

.steps-content{
  margin: 20px;
  min-height: 100%;
  height: 606px;
  padding-left: 10px;
}

.form-row{
  margin-top: 55px;
}

.d-none {
    display: none !important;
}
